body{
    background:#50acc3;
}

input{
    width: 80px;
    height: 90px;
    font-size: 3em;
    background: #a82020 !important;
    border-radius: 10px;
    margin: 0 auto;
}

.col-3{
    padding: 5px !important;
    text-align: center !important;
    align-items: center;
    margin: 0 auto;

}

.container{
    padding: 55px !important;
}

.form-control{
    height: 100px;
}
